/**
 * Search Input box
 */
.search-index .search-box-wrapper form {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.search-index .movie-search-bar {
  border: 4px solid black;
  border-right: none;
  border-radius: 0;
}

.search-index .movie-search-bar:focus {
  border-color:  yellow;
  outline-color: yellow;
}

.search-index .results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-direction: column;
  gap: 0.5rem;
}

/* Split container flex */
.search-index .results-container a {
  text-decoration: none;
}

/* General Padding of container */
.search-index .results-container .result-item {
  padding: 2rem;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

/* text/theme Coloring */
.search-index .results-container .result-item * {
  color: black !important;
  background-color: white;
  border-color: #eee;
}

/* text/theme Coloring of the first result */
.search-index .results-container .result-item:first-of-type,
.search-index .results-container .result-item:first-of-type * {
  color: white !important;
  background-color: darkslategrey !important;
}

/* fix height of image */
.search-index .results-container .result-item img {
  width: 200px;
  height: 300px !important;
  object-fit: cover;
}

/* Split container flex */
.search-index .results-container .result-item h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Split container flex */
.search-index .results-container .result-item h2 .year {
  font-size: 0.7rem;
}

.search-index .custom-button {
  border-radius: 0;
  background-color: black;
  border: 4px solid black;
  color: white
}

.search-index .custom-button:hover {
  border-radius: 0;
  background-color: white;
  border-color: black;
  color: black
}

/* 
 * Responsive display
 */
@media (max-width: 1250px) {

  .search-index .results-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  
}

@media (max-width: 1000px) {

  .search-index .results-container {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

@media (max-width: 800px) {

  .search-index .results-container {
    grid-template-columns: 1fr 1fr;
  }  
}

@media (max-width: 768px) {
  .search-index .results-container {
    display: flex !important;
  }
}