
 .movie-index .outer-wrapper {
   display: flex;
   flex-direction: row;
   gap: 1rem;
 }

 .movie-index .movie-content-wrapper {
   display: flex;
   flex-direction: column;
   padding: 3rem;
 }

 .movie-index .highlight { 
    background-color: yellow; 
 }