
.movie-index .outer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.movie-index .movie-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-bottom: 2.5rem;
}

.movie-index .highlight { 
  background-color: var(--col-highlight);
}

.movie-index .movie-content-wrapper .rating { 
  padding: 10px;
  border: 1px solid var(--col-outlines);
}

.movie-index .movie-content-wrapper .tags { 
  margin-top: 1rem;
}

.movie-index .movie-content-wrapper .description { 
  margin-top: 2rem;
}

.movie-index .movie-content-wrapper .toolbar { 
  border-top: 1px solid var(--col-outlines);
  width: 100%;
  margin-top: 2rem;
}
